DEBUG=true
BASE_URL=https://rest.haoxiaoguai.xyz
STRIPE_PUBLISHABLE_KEY=pk_test_51K5b84LHzHC
SENTRY_DSN=https://1246d3e8c39b70919447f701f457887e@o4505111003136000.i
GOOGLE_SERVER_CLIENT_ID=your_google_server_client_id_here
